/**
 * Float Layout Activity
 **/

* {
  box-sizing: border-box;
  text-align: center;
}

body {
}

header {
  padding: 20px;
  margin-bottom: 20px;
  color: #333;
  background: #ccc;
}

section {
}

#left {float: left;
  background-color: #666;
    width: 33%;
    height:50px;
    font-size: 30px;
    color: white
}

#middle {float: left;
   background-color: #888;
   width: 33%;
   height: 50px;
   font-size: 30px;
   color: white
   
}

#right {float:left;
   background-color: #666;
   width: 33%;
   height: 50px;
   font-size: 30px;
   color: white;
  
}

#full {background-color: #eee;
  margin-top: 100px;
  padding: 30px;
  padding-bottom: 10px;
  
}

#division {background-color: #6ea3da;
  width: 100%;
  height: 40px;
  padding-top: 20px
}
aside {background-color: #fff;
  float:left;
  height:140px;
  width: 250px;
  margin-left: 50px;
  padding-top: 20px
}

footer {background-color: #ccc;
  height: 60px;
  padding-top: 20px;
  margin-top: 20px;
}
.clear{
  clear:both;
}