/**
 * Float Layout Activity
 **/

* {
  box-sizing: border-box;
  text-align: center;
  font-size: 25px;
}

body {
  margin: 20px 20px 20px;
}

header {
  padding: 20px;
  margin-bottom: 20px;
  color: #333;
  background: #ccc;
}

section {

    padding:10px;
}

#left {
  float:left;
  color: white;
  background-color: #666;
  width: 33.33%;
  padding: 10px;
  margin-bottom: 10px;
}

#middle {
  float:left;
  color: white;
  background-color: #888;
  width: 33.33%;
  padding: 10px;
  margin-bottom: 10px;
}

#right {
  float:left;
  color: white;
  background-color: #666;
  width: 33.33%;
  padding: 10px;
  margin-bottom: 10px;
 
}

#full {
  clear:both;
  background-color:#eee;
  overflow:auto;
  margin-bottom: 10px;
}

#division {
  background-color: #6ea3da;
  padding:10px;
  margin-top:10px;
}

aside {
  float:left;
  background-color: #fff;
  margin:1%;
  width: 200px;
  height: 200px;
  padding:10px;
}

footer {
  background-color: #ccc;
  padding:10px;
}
