/**
 * Float Layout Activity
 **/

* {
  box-sizing: border-box;
  text-align: center;
}

body {
}

header {
  padding: 20px;
  margin-bottom: 20px;
  color: #333;
  background: #ccc;
}

section {
  background-color: #666;
  padding: 20px
}

#left {
  background-color: #666;
  float: left;
  width: 33.3%;
}

#middle {
  background-color: #888;
  float: middle;
  display: inline-block;
  width: 33.3%;
}

#right {
  background-color: #666;
  float: right;
  width: 33.3%;
}

#full {
  background-color: #eee;
  overflow: auto;
  margin-top: 20px;
  margin-bottom: 20px;


  
}

#division {
  background-color: #6ea3da;
  padding: 20px;
  margin-top: 20px;
}

aside {
  background-color: #fff;
  float: left;
  padding: 60px;
  margin-left: 20px;
}

footer {
  background-color: #ccc;
  padding: 30px;
}
