/**
 * Float Layout Activity
 **/

* {
  box-sizing: border-box;
  text-align: center;
}

body {
}

header {
  padding: 20px;
  margin-bottom: 20px;
  color: #333;
  background: #ccc;
}

section { 
	width:100%;
	background-color: #eee;

}

#left { background-color: #666;
	    float: left;
	    padding: 25px;
	    width: 33.3%

}

#middle { background-color: #888;
	    float: left;
	    padding: 25px;
	    width: 33.3%
}

#right {background-color: #666;
	   float: left;
	   padding: 25px;
	   width: 33.3%
}

#full {
	clear:both;
	float:left;
	background-color: #eee;
	   height: 400px;
		margin: 10px 0 10px 0;
		padding: 20px;
}

#division {background-color: #6ea3da;
	       padding: 35px;
	       margin-top: 70px;
}

aside { background-color: #fff;
	    padding: 100px;
	    float: left;
	    margin: 30px;
}

footer { 
	clear:both;
	background-color: #ccc;
	    padding: 25px;

}
